.card {
  background-color: white;
  border-radius: 10px;
  list-style: none;
  position: relative;
  width: 282px;
}

.card__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.card__title {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
    color: black;
}

.card__like-button {
  background: url("../images/like-inactive.svg") center no-repeat;
   width: 22px;
  height: 19px;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.card__like-button_active {
  color: rgb(0, 0, 0);
    background-image: url("../images/like-active.svg");
}

.card__delete-button {
  width: 18px;
  height: 19px;
  background: url("../images/delete-icon.svg") center no-repeat;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.card__delete_hidden {
  display: none;
}

.card__delete:hover,
.card__like-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .cards__list {
    grid-template-columns: 282px;
  }
}